@import "./utils/reset";
@import "./utils/variables";
@import "./utils/mixins";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: $black;
  height: 150px;
  img {
    height: 10rem;
  }
  .burger {
    display: none;
  }
}
.nav-list {
  height: auto;

  display: flex;
  flex-direction: row;
  font-size: 2rem;

  color: $primary;
  justify-content: flex-end;
  .nav-element {
    margin-right: 2rem;
    cursor: pointer;
    font-weight: bolder;
    :hover {
      color: $secondary;
    }
    .active {
      color: $secondary;
    }
  }
}
